.sales-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #3f51b5;
    font-size: 24px;
    margin-bottom: 20px;
}

.sales-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.sales-form mat-form-field {
    width: 100%;
}

table {
    width: 100%;
    margin-top: 20px;
}


/* @media print {
    #faturaParaImprimir {
        font-family: Arial, sans-serif;
        width: 80mm;
        padding: 10px;
    }

    .fatura-cabecalho,
    .fatura-detalhes,
    .fatura-total,
    .fatura-pagamento,
    .fatura-rodape {
        text-align: center;
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th,
    td {
        padding: 5px;
        text-align: center;
    }

    .fatura-total p,
    .fatura-pagamento p {
        margin: 0;
    }

    .fatura-rodape {
        font-size: 10px;
    }

    button {
         display: none;
    }

} */


@media print {
    body {
        margin: 0;
        padding: 0;
    }

    #faturaParaImprimir {
        display: block;
        width: 100%;
        max-width: 210mm;
        /* Ajustar para A4 */
        height: 297mm;
        /* Ajustar para A4 */
        padding: 20mm;
        /* Margem interna */
        box-sizing: border-box;
    }

    .fatura-cabecalho,
    .fatura-detalhes,
    .fatura-total,
    .fatura-pagamento,
    .fatura-rodape {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    .fatura-total,
    .fatura-pagamento,
    .fatura-rodape {
        page-break-inside: avoid;
    }

    .fatura-cabecalho p,
    .fatura-detalhes p,
    .fatura-total p,
    .fatura-pagamento p,
    .fatura-rodape p {
        margin: 2px 0;
        font-size: 12px;
    }

    hr {
        margin: 5px 0;
        border: 0;
        border-top: 1px solid #000;
    }
}